html {
  width: 100%;
  height: 100%
}

body {
  width: 100%;
  height: 100%
}

.fileForm {
  height:15%
}

.fileSelect {
  width: 100%;
  height: 15%;
  font-size: 8vw;
}

.nextButton , .prevButton {
  width: 50%;
  height: 50%;
  font-size: 12vw;
}

.brightnessForm {
  height:30%
}

.brightnessSubmit {
  width: 100%;
  height:15%;
  font-size: 8vw;
}

.slidecontainer {
  width: 100%;
  padding-top: 75px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 200px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100px;
  height: 200px;
  background: #4CAF50;
  cursor: pointer;
}