html {
  width: 100%;
  height: 100%
}

body {
  width: 100%;
  height: 100%
}

input, button {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius:0px;
}

.fileForm {
  height:15%
}

.fileSelect {
  width: 100%;
  height: 15%;
  font-size: 8vw;
  -webkit-appearance: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAABGCAIAAACL7Qs1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJKSURBVHhe7dwtjiJBAMVxdj2GyyBQaATBrSbhBDgUihAOgOIA3ASDQOIwCNIJGAxJk7AvW5XJZHa2t6u6ipfuej/D8NGQfv8EgmB+vF6vlvD8tJdCogBkCkCmAGQKQKYAZApApgBkCkCmAGQKQKYAZApApgBkCkCmAGQKQKYAZApApgBk/gGOx+OvPw6Hg70pmufzud1u+/3+fD6/3+/21mZ4ednv991u1zwD/sBVe0cEeZ5vNpt2u21ebjKZXK9Xe1/9+QT4vL4Rr8GX9Y0mNXAO8Pf6RowG365vNKaBW4B/rW+EbVCwvtGMBg4Bitc3QjX47/pGAxqUDXA6nXq9nj3vQtUblFzfmE6nj8fDHllDZQPsdruSi0CVBk7rw2AwuN1u9uAaKhsgy7LRaGRPugS/Bq7rw2q1wrcEe3wNOXwGnM/n4XBoz7sE1wYe6y8Wi1q//4BDAIjXIM31wS0AxGiQ7PrgHADCNkh5ffAJAKEaJL4+eAaA6g20PvgHgCoNtL5RKQD4NdD6H6oGAI8Gs9lM6xsBAoBrAycNXh/CBIBIDZq9PgQLAMEbNH59CBkAAjZIYX0IHACCNEhkfQgfACo2SGd9iBIAvBsktT7ECgAeDVJbHyIGAKcGCa4PcQNAyQZprg/RA8DlcilusFwu8zy3j07MOwJAQYOU14c3BYBvGyS+PrwvAHxpoPXhrQEgy7LxeNzpdNbrtdYH/ddEMv1EiUwByBSATAHIFIBMAcgUgEwByBSATAHIFIBMAcgUgEwByBSAqtX6Deb3wrjhLlq6AAAAAElFTkSuQmCC') no-repeat right
}

.nextButton , .prevButton {
  width: 50%;
  height: 50%;
  font-size: 12vw;
}

.brightnessForm {
  height:30%
}

.brightnessSubmit {
  width: 100%;
  height:15%;
  font-size: 8vw;
}

.slidecontainer {
  width: 100%;
  padding-top: 100px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 75px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 200px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 150px;
  height: 200px;
  background: #4CAF50;
  cursor: pointer;
}